* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

header {
    height: 120px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 30px;
}

.headerImage {
    height: 30px;
    width: 157px;
    position: absolute;
}

.mainFirstPart {
    display: flex;
    position: relative;
    height: 570px;
}

.mainFirstPartOne {
    height: 100%;
    width: 50%;
    background: url(../Images/philip-martin.jpg);
    background-size: 100% 100%;
}

.mainFirstPartTwo {
    height: 100%;
    width: 50%;
    background-color: black;
    background-size: 100% 100%;
}

.mainFirstPartTwo_text {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15% 15% 15% 15%;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}

.mainFirstPartTwo_text_firstSpan {
    font-size: 14px;
    letter-spacing: 7px;
}

.mainFirstPartTwo_text_secondSpan {
    font-size: 16px;
    text-decoration-line: underline;
}

.mainFirstPartTwo_text_h2 {
    text-transform: uppercase;
}

.mainFirstPartTwo_text_button {
    width: 198px;
    height: 55px;
    border: 1px solid white;
    text-align: center;
    padding-top: 18px;
    font-size: 12px;
}

.btn:hover {
    color: rgb(190, 183, 183);
    cursor: pointer;
}

/*////////////////////////////////////////////////////////////////////////////////////////// */

.mainSecondPart {
    display: flex;
    position: relative;
    width: 80%;
    justify-content: space-between;
    margin: 30px 10% 0 10%;
    flex-wrap: wrap;
}

.textHeader {
    margin: 59px 10% 0 10%;
    font-size: 18px;
    text-transform: uppercase;
}

.mainSecondPart_first {
    height: 368px;
    width: 49%;
    background: url(../Images/man.jpg);
    background-size: 100% 100%;
}

.mainSecondPart_second {
    height: 368px;
    width: 49%;
    background: url(../Images/biocarbon.jpg);
    background-size: 100% 100%;
}

.mainSecondPartFirst_Text {
    display: flex;
    position: relative;
    width: 50%;
    min-height: 180px;
    padding-right: 10px;
    margin-top: 29px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mainSecondPartSecond_Text {
    display: flex;
    position: relative;
    width: 50%;
    min-height: 180px;
    padding-left: 10px;
    margin-top: 29px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mainSecondPart_text_firstSpan {
    text-align: left;
    font-size: 12px;
    letter-spacing: 6px;
    font-weight: bold;
}

.mainSecondPart_text_secondSpan {
    text-align: right;
    font-size: 12px;
    text-align: right;
    text-decoration-line: underline;
    text-transform: uppercase;
    font-weight: bold;
}

.mainSecondPartTwo_text_paragraph {
    font-size: 18px;
}

/* //////////////////////////////////////////////////////// */

.mainThirdPart {
    display: flex;
    width: 80%;
    height: 240px;
    justify-content: space-between;
    margin: 20px 10% 0 10%;
    flex-wrap: wrap;
}

.mainThirdPart_photo1 {
    height: 100%;
    width: 32%;
    background: url(../Images/img-1.jpg);
    background-size: 100% 100%;
}

.mainThirdPart_photo2 {
    height: 100%;
    width: 32%;
    background: url(../Images/img-2.jpg);
    background-size: 100% 100%;
}

.mainThirdPart_photo3 {
    height: 100%;
    width: 32%;
    background: url(../Images/img-3.jpg);
    background-size: 100% 100%;
}

.mainThirdPart_text {
    display: flex;
    width: 80%;
    min-height: 60px;
    justify-content: space-between;
    margin: 18px 10% 0 10%;
}

.mainThirdPartFirst_Text {
    display: flex;
    width: 32%;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mainThirdPartTwo_text_h2 {
    padding-top: 22px;
}

.blockForButton {
    display: flex;
    position: relative;
    justify-content: center;
    width: 80%;
    height: 42px;
    margin: 63px 10% 33px 10%;
}

.button_SeeAll {
    padding-top: 10px;
    font-size: 14px;
    width: 238px;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #303030;
}

/* ///////////////////////////////////////////////////////////////////////////////// */

.mainFourthPart {
    display: flex;
    width: 80%;
    height: 360px;
    justify-content: space-between;
    margin: 0 10% 63px 10%;
    flex-wrap: wrap;
}

.mainFourthPartOne {
    height: 100%;
    width: 50%;
    background: url(../Images/photo1.jpg);
    background-size: 100% 100%;
}

.mainFourthPartTwo {
    height: 100%;
    width: 50%;
    background-color: black;
    background-size: 100% 100%;
}

.mainFourthPartTwo_text {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20% 15% 20% 15%;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
}

.mainFourthPartTwo_text_h2 {
    text-transform: uppercase;
}

.mainFourthPartTwo_text_button {
    width: 198px;
    height: 42px;
    border: 1px solid white;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

/* ///////////////////////////////////////////////////////////// */

.mainThirdPart_photo5 {
    height: 100%;
    width: 32%;
    background: url(../Images/img-5.jpg);
    background-size: 100% 100%;
}

.mainThirdPart_photo6 {
    height: 100%;
    width: 32%;
    background: url(../Images/img-6.jpg);
    background-size: 100% 100%;
}

.mainThirdPart_photo7 {
    height: 100%;
    width: 32%;
    background: url(../Images/img-7.jpg);
    background-size: 100% 100%;
}

/* //////////////////////////////////// */
.mainThirdPart_photo8 {
    height: 100%;
    width: 32%;
    background: url(../Images/img-8.jpg);
    background-size: 100% 100%;
}

.mainThirdPart_photo9 {
    height: 100%;
    width: 32%;
    background: url(../Images/img-9.jpg);
    background-size: 100% 100%;
}

.mainThirdPart_photo10 {
    height: 100%;
    width: 32%;
    background: url(../Images/img-10.jpg);
    background-size: 100% 100%;
}

footer {
    display: flex;
    position: relative;
    width: 100%;
    height: 163px;
    margin-top: 100px;
    background-color: black;
    justify-content: center;
    color: white;
}

.footerImage {
    position: absolute;
    width: 142px;
    height: 27px;
    color: white;
    margin-top: 55px;
}

.footerText {
    position: absolute;
    margin-top: 130px;
    font-size: 12px;
}

.textMainsHeader {
    margin: 0px 10% 28px 10%;
    font-size: 18px;
    text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
    header {
        height: 120px;
    }

    body {
        min-width: 1200px;
    }

    .mainFirstPart {
        width: 100%;
        height: 570px;
    }

    footer {
        height: 163px;
    }

    .mainFirstPartTwo_text_paragraph {
        font-size: 18px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1200px) {
    header {
        height: 110px;
    }

    .mainFirstPart {
        height: 500px;
    }

    main {
        min-width: 970px;
    }

    .mainSecondPart_first {
        height: 330px;
    }

    .mainSecondPart_second {
        height: 330px;
    }

    .mainFirstPart {
        height: 400px;
    }

    .mainThirdPart {
        height: 200px;
    }

    .mainFourthPart {
        height: 330px;
    }

    .mainFourthPartTwo_text_h2 {
        font-size: 24px;
    }

    .mainFirstPartTwo_text_paragraph {
        font-size: 18px;
    }

    .mainFirstPartTwo_text_h2 {
        font-size: 20px;
    }

    footer {
        height: 150px;
    }
}

@media screen and (max-width: 970px) {
    header {
        height: 80px;
    }

    .mainFirstPart {
        height: 380px;
    }

    .mainSecondPart_first {
        height: 280px;
    }

    .mainSecondPart_second {
        height: 280px;
    }

    .mainThirdPart {
        height: 150px;
    }

    .mainFourthPart {
        height: 280px;
    }

    .mainSecondPartTwo_text_h2 {
        font-size: 18.72px;
    }

    .mainSecondPartTwo_text_paragraph {
        font-size: 16px;
    }

    .mainFirstPartTwo_text_paragraph {
        font-size: 14px;
    }

    .mainFourthPartTwo_text_h2 {
        font-size: 20px;
    }

    .mainFirstPartTwo_text_h2 {
        font-size: 16px;
    }

    footer {
        height: 100px;
        margin-top: 70px;
    }

    .footerImage {
        height: 25px;
        width: 120px;
        margin-top: 20px;
    }

    .footerText {
        font-size: 14px;
        margin-top: 55px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    header {
        min-height: 80px;
    }

    .mainFirstPartTwo_text_paragraph {
        font-size: 6px;
    }

    .mainFirstPart {
        height: 280px;
    }

    .mainSecondPart_first {
        height: 200px;
    }

    .mainSecondPart_second {
        height: 200px;
    }

    .mainFirstPartTwo_text_firstSpan {
        font-size: 12px;
    }

    .mainFirstPartTwo_text_secondSpan {
        font-size: 14px;
    }

    .mainFirstPartTwo_text_h2 {
        font-size: 12px;
    }

    .mainSecondPartTwo_text_paragraph {
        font-size: 10px;
    }

    .mainSecondPartTwo_text_h2 {
        font-size: 10px;
    }

    .mainFirstPartTwo_text_button {
        height: 30px;
        padding-top: 5px;
        font-size: 10px;
        width: 160px;
    }

    .mainSecondPartTwo_text_h2 {
        font-size: 12px;
    }

    .mainSecondPart {
        width: 80%;
    }

    .mainFourthPart {
        height: 180px;
        margin: 0 10% 30px 10%;
    }

    .mainFourthPartTwo_text_h2 {
        font-size: 12px;
    }

    .mainFourthPartTwo_text_button {
        width: 150px;
        height: 30px;
        font-size: 10px;
        padding-top: 5px;
    }

    .button_SeeAll {
        width: 150px;
        height: 70%;
        padding-top: 5px;
    }

    .mainSecondPart_text_firstSpan {
        font-size: 8px;
    }

    .mainSecondPart_text_secondSpan {
        font-size: 10px;
    }

    .mainThirdPartTwo_text_h2 {
        font-size: 12px;
        padding-top: 5px;
    }

    .mainThirdPart {
        height: 120px;
    }

    .blockForButton {
        margin: 30px 10% 20px 10%;
    }

    .headerImage {
        height: 20px;
        width: 120px;
    }

    .textHeader {
        font-size: 14px;
        margin: 30px 10% 0 10%;
    }

    .footerText {
        margin-top: 50px;
    }

    footer {
        height: 80px;
        margin-top: 50px;
    }

    .footerImage {
        height: 20px;
        width: 100px;
        margin-top: 20px;
    }

    .footerText {
        font-size: 8px;
    }

    .textMainsHeader {
        font-size: 14px;
    }
}